.image {
    width: 30em;
    height: 20em;
    object-fit: cover; /* fill without distortion */
    display: block;
  }

h3 {
    letter-spacing: 0;
    position: relative;
    padding: 0;
    font-weight: bold;
    line-height: normal;
    color: #2d2d2d;
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
  }

  p {
    margin-top: 25px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2d2d2d;
}